.destination-header {
  position: relative;
}

.destination-header-image {
  border-radius: 1rem;
}

.destination-countries {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.continent-name {
  position: absolute;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  top: 40%;
  left: 5%;
}

.destination-button {
  position: absolute;
  color: white;
  top: 40%;
  right: 5%;
  backdrop-filter: blur(5px);
}

.country-name:hover {
  color: greenyellow;
}
