.sidebar-element {
  border-left: 4px solid transparent;
}

.sidebar-element:hover {
  border-left: 4px solid black;
  cursor: pointer;
}

.registered-container {
  display: flex;
  border: 1px solid black;
  margin: 1rem 0;
  padding: 5px;
}

.registered-image {
  border-radius: 5px;
  width: 200px;
  height: 100px;
}

.registered-options {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: flex;
    justify-content: space-between;
  }
}
