.country-deals-heading {
  font-size: 2rem;
  font-weight: bold;
}

.country-deals-title {
  font-size: 1.25rem;
}

.destinations-heading {
  font-size: 2rem;
  font-weight: bold;
}

.destinations-title {
  font-size: 1.25rem;
}
