.header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
}

.header-links {
  display: flex;
  justify-content: space-between;
  width: 12rem;
}

.link-element:hover {
  color: rgb(84, 167, 87);
}
