.header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
}

.header-links {
  display: flex;
  justify-content: space-between;
  width: 12rem;
}

.link-element:hover {
  color: rgb(84, 167, 87);
}

.profile-link {
  position: relative;
  font-size: 1.5rem;
}

.profile-menu {
  display: flex;
  flex-direction: column;
  background: rgb(222, 220, 220);
  padding: 8px;
  position: absolute;
  top: 45px;
  right: 15px;
}

.menu-element {
  margin-bottom: 8px;
}

.menu-element:hover {
  cursor: pointer;
  color: rgb(84, 167, 87);
}

/* @media screen and (max-width: 768px) {
  .header-links {
    display: none;
  }
} */
